<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="../static/check.css">
</head>
<body style="background-image: url('../static/background.jpg'); background-size: cover;">
  <header>
    <a href="/">
      <img src="../static/logo/fyp logo trans.png" alt="Logo">
    </a>
    <span class="header-text">Identify BlockChain</span>
    <a href="/about" class="header-about">About us</a>
  </header>
  <main>
    <div class="about-container">
      <h2>About Us</h2>
      <div class="member">
        <img src="../static/members/member1.jpg" alt="Member 1">
        <h3>Member 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod tellus id dui cursus, et eleifend felis consequat.</p>
      </div>
      <div class="member">
        <img src="../static/members/member2.jpg" alt="Member 2">
        <h3>Member 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod tellus id dui cursus, et eleifend felis consequat.</p>
      </div>
      <div class="member">
        <img src="../static/members/member3.jpg" alt="Member 3">
        <h3>Member 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod tellus id dui cursus, et eleifend felis consequat.</p>
      </div>
      <div class="member">
        <img src="../static/members/member4.jpg" alt="Member 4">
        <h3>Member 4</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod tellus id dui cursus, et eleifend felis consequat.</p>
      </div>
    </div>
  </main>
</body>
</html>
